body{
    background: black;
    color: white;
    margin: 0;
    font-size: 16px;
}

.conteudo{

    margin: 0 auto;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: gray;
    padding: 3%;
    border-radius: 10px;

}

.topo input{
    font-size: 17px;
    display: flex;
   justify-content: space-between;
   padding: 15px;
   border-radius: 12px;
    border: 1px solid rebeccapurple;
    outline: none;
}

.topo button{
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
    color: white;
    background-color: rebeccapurple;
    border: none;
    outline: none;
}

.topo button:hover{
    background: rgb(125, 99, 151);
}

#listaTarefas{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    size: 100px;
    

}

.textoTarefa{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}

.dataTarefa{
    
    text-overflow: ellipsis;
    width: 200px;
    
    
}

#listaTarefas li{
    margin-top: 20px;
    background: rgb(204, 204, 204);
    color: black;
    list-style: none;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.btn-delete{
    border-radius: 30px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-delete:hover{
    color: rebeccapurple;
}