body{
    background: whitesmoke;
    color: white;
    font-size: 22px;

}

.conteudo{
    max-width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(128, 128, 128);
    padding: 30px;
    border-radius: 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    

}

.topo input{
    font-size: 17px;
    display: flex;
    padding: 15px;
    border-radius: 12px;
    border: 3px solid rebeccapurple;
    outline: none;
    width: 350px;

}

.topo button{
    width: 200px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 10px;
    color: white;
    background-color: rebeccapurple;
    border: none;
    outline: none;
    height: 35px;
    margin-left: 100px;
   
}

.topo button:hover{
    background: rgb(125, 99, 151);
    cursor: pointer;

}

#listaTarefas{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    size: 100px;
    justify-content: space-between;
    display: flow;
    font-size: 22px;

}


#listaTarefas {
    margin-top: 20px;
    color: white;
    list-style: none;
    border-radius: 10px;

}

.btn-delete{
    cursor: pointer;
    padding: 5px;
    
}

.btn-delete:hover{
    color: rebeccapurple;
}



ul {
    padding: 10px;
    margin-left: 0px;
}


dd{
    margin: 0;
    word-break: break-word;
    width: 400px;
    justify-content: space-between;

}

dt{
    padding: 10px;
}

